:root {
  --textparagraph-1: rgba(0, 0, 0, 1);
  --dividerdivider-1: rgba(224, 224, 224, 1);
  --backgroundbackground-1: rgba(255, 255, 255, 1);
  --heading-1-font-family: "Rethink Sans", Helvetica;
  --heading-1-font-weight: 400;
  --heading-1-font-size: 37px;
  --heading-1-letter-spacing: -1.48px;
  --heading-1-line-height: 120.00000476837158%;
  --heading-1-font-style: normal;
  --paragraph-1-font-family: "Spectral", Helvetica;
  --paragraph-1-font-weight: 400;
  --paragraph-1-font-size: 40px;
  --paragraph-1-letter-spacing: -1.6px;
  --paragraph-1-line-height: 120.00000476837158%;
  --paragraph-1-font-style: normal;
  --heading-2-font-family: "Rethink Sans", Helvetica;
  --heading-2-font-weight: 500;
  --heading-2-font-size: 30px;
  --heading-2-letter-spacing: -1.2px;
  --heading-2-line-height: 100%;
  --heading-2-font-style: normal;
  --paragraph-2-font-family: "Rethink Sans", Helvetica;
  --paragraph-2-font-weight: 400;
  --paragraph-2-font-size: 15px;
  --paragraph-2-letter-spacing: -0.45px;
  --paragraph-2-line-height: 139.9999976158142%;
  --paragraph-2-font-style: normal;
  --heading-3-font-family: "Spectral", Helvetica;
  --heading-3-font-weight: 500;
  --heading-3-font-size: 18px;
  --heading-3-letter-spacing: -0.9px;
  --heading-3-line-height: 100%;
  --heading-3-font-style: italic;
  --label-1-font-family: "Rethink Sans", Helvetica;
  --label-1-font-weight: 400;
  --label-1-font-size: 17px;
  --label-1-letter-spacing: -0.765px;
  --label-1-line-height: 100%;
  --label-1-font-style: normal;
}
